@{
    ViewData["Title"] = "Projeto AM4";
}
<style>
   img {
       border-radius: 50%;
   }
</style>

<div class="text-center">
    <img src="~/images/am4.png" />
    <h1 class="display-4">Contact Us</h1>
</div>
